In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/sorted_feature_matrix.csv')
df = df.rename(columns={'Tickers': 'ticker', 'GDP': 'gdp', 'Date':'date','Dividend':'dividend','EPS':'eps','quick ratio':'quick_ratio','Volume':'volume'})

In [41]:
df.columns

Index(['Unnamed: 0', 'date', 'dividend', 'volume', 'stock_price',
       'fed_funds_rate', 'gdp', 'ticker', 'debt_to_equity', 'eps',
       'return_on_equity', 'quick_ratio', 'operating_ratio',
       'inventory_turnover', 'pos_ma', 'neu_ma', 'neg_ma'],
      dtype='object')

In [31]:
sector_df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/sector.csv')
def classify_cyclicality(row):
    cyclical_sectors = ['Industrials', 'Technology', 'Consumer Cyclical', 'Basic Materials']
    non_cyclical_sectors = ['Healthcare', 'Communication Services', 'Utilities', 'Financial Services', 'Real Estate', 'Energy', 'Consumer Defensive']
    
    if row['Sector'] in cyclical_sectors:
        return 'cyclical'
    elif row['Sector'] in non_cyclical_sectors:
        return 'non-cyclical'
    else:
        return np.nan  # Or any other appropriate value for sectors not in the defined lists

# Apply the function to create the 'cyclicality' column
sector_df['cyclicality'] = sector_df.apply(classify_cyclicality, axis=1)

In [32]:
sector_df = sector_df.rename(columns={'Ticker': 'ticker','Sector':'sector','Industry':'industry'})

In [40]:
sector_df.columns

Index(['Unnamed: 0', 'ticker', 'sector', 'industry', 'cyclicality'], dtype='object')

In [42]:
# merge df left join
new_df = df.merge(sector_df[['ticker','sector', 'industry', 'cyclicality']], on='ticker', how='left')

In [44]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32914 entries, 0 to 32913
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          32914 non-null  int64
 1   date                32914 non-null  object
 2   dividend            32914 non-null  float64
 3   volume              32914 non-null  float64
 4   stock_price         32914 non-null  float64
 5   fed_funds_rate      32914 non-null  float64
 6   gdp                 32914 non-null  float64
 7   ticker              32914 non-null  object
 8   debt_to_equity      32914 non-null  float64
 9   eps                 32914 non-null  float64
 10  return_on_equity    32914 non-null  float64
 11  quick_ratio         32914 non-null  float64
 12  operating_ratio     32914 non-null  float64
 13  inventory_turnover  32914 non-null  float64
 14  pos_ma              32914 non-null  float64
 15  neu_ma              32914 non-null  float64
 16  neg_ma              32914 non-null  float64
 17  sector              32707 non-null  object
 18  industry            32707 non-null  object
 19  cyclicality         32707 non-null  object
dtypes: float64(14), int64(1), object(5)
memory usage: 5.3+ MB

In [47]:
file_path = 'sorted_features.csv'

new_df.to_csv(file_path, index=True)  # Set index=False to exclude the index column

with open(file_path, 'w', newline='') as file:
    new_df.to_csv(file, index=True)

print(f'DataFrame saved to {file_path}')

DataFrame saved to sorted_features.csv

In [283]:
csv_df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/SP500_bal_income.csv')

/var/folders/n4/35k7kmsn57n5yqhz89vtwcfr0000gn/T/ipykernel_42201/2409325143.py:1: DtypeWarning: Columns (3,4,5,7,10,18,19,20,24,25,30) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/SP500_bal_income.csv')

In [284]:
columns_to_keep = ['fiscalDateEnding', 'totalRevenue','Symbol', 'shortTermDebt', 'longTermDebt', 'totalShareholderEquity', 'commonStockSharesOutstanding', 'netIncome', 'operatingExpenses', 'reportedCurrency_y','inventory','totalCurrentAssets', 'totalCurrentLiabilities', 'currentNetReceivables', 'costofGoodsAndServicesSold']
df = csv_df.loc[:,columns_to_keep]
# df.drop(df.iloc[:, 0:1], inplace=True, axis=1)
df.head()

,fiscalDateEnding,totalRevenue,Symbol,shortTermDebt,longTermDebt,totalShareholderEquity,commonStockSharesOutstanding,netIncome,operatingExpenses,reportedCurrency_y,inventory,totalCurrentAssets,totalCurrentLiabilities,currentNetReceivables,costofGoodsAndServicesSold
0,2023-06-30,8325000000,MMM,3277000000,14203000000,7798000000,551992430,-6.841000e+09,12325000000,USD,5280000000,15754000000,10936000000,4947000000,4606000000
1,2023-03-31,8031000000,MMM,3275000000,14848000000,15298000000,551672217,9.760000e+08,1827000000,USD,5306000000,14963000000,10556000000,4638000000,4613000000
2,2022-12-31,8079000000,MMM,2199000000,15939000000,14722000000,549245105,5.410000e+08,3646000000,USD,5372000000,14688000000,9523000000,4532000000,4585000000
3,2022-09-30,8619000000,MMM,2097000000,15705000000,14080000000,552742915,3.859000e+09,-602000000,USD,5615000000,14895000000,9543000000,4722000000,4728000000
4,2022-06-30,8702000000,MMM,2513000000,15921000000,13742000000,569603928,7.800000e+07,3152000000,USD,5645000000,14514000000,9896000000,4914000000,5093000000

In [285]:
df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
df['fiscalDateEnding'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9961 entries, 0 to 9960
Series name: fiscalDateEnding
Non-Null Count  Dtype
--------------  -----
9961 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 77.9 KB

In [253]:
df_A = df[df['Symbol']=="A"]

In [291]:
df['shortTermDebt'] = pd.to_numeric(df['shortTermDebt'], errors='coerce').convert_dtypes()
df['longTermDebt'] = pd.to_numeric(df['longTermDebt'], errors='coerce').convert_dtypes()
df['totalShareholderEquity'] = pd.to_numeric(df['totalShareholderEquity'], errors='coerce').convert_dtypes()
df['netIncome'] = pd.to_numeric(df['netIncome'], errors='coerce').convert_dtypes()
df['commonStockSharesOutstanding'] = pd.to_numeric(df['commonStockSharesOutstanding'], errors='coerce').convert_dtypes()
df['netIncome'] = pd.to_numeric(df['netIncome'], errors='coerce').convert_dtypes()
df['totalCurrentLiabilities'] = pd.to_numeric(df['totalCurrentLiabilities'], errors='coerce').convert_dtypes()
df['totalCurrentAssets'] = pd.to_numeric(df['totalCurrentAssets'], errors='coerce').convert_dtypes()
df['inventory'] = pd.to_numeric(df['inventory'], errors='coerce').convert_dtypes()
df['operatingExpenses'] = pd.to_numeric(df['operatingExpenses'], errors='coerce').convert_dtypes()
df['totalRevenue'] = pd.to_numeric(df['totalRevenue'], errors='coerce').convert_dtypes()
df['currentNetReceivables'] = pd.to_numeric(df['currentNetReceivables'], errors='coerce').convert_dtypes()
df['costofGoodsAndServicesSold'] = pd.to_numeric(df['costofGoodsAndServicesSold'], errors='coerce').convert_dtypes()


#solvency ratio
df['debt_to_equity'] = (df['shortTermDebt'] + df['longTermDebt']) / df['totalShareholderEquity']
# print(df['debt_to_equity'].dtype)

#profitability
df['price'] = 1 #arbitrary number
df['Dividend'] = 2 #arbitrary number
df['eps'] =  (df['netIncome'] - df['Dividend']) / df['commonStockSharesOutstanding']
df['return_on_equity'] = df['netIncome'] / df['totalShareholderEquity']


#liquidity ratio
df['quick ratio'] = (df['totalCurrentAssets'] - df['inventory']) /  df['totalCurrentLiabilities']

#efficiency ratio
df['operating_ratio'] = (df['operatingExpenses'] + df['costofGoodsAndServicesSold']) / df['totalRevenue']
df['inventory_turnover'] = df['costofGoodsAndServicesSold'] / df['inventory']
df

,fiscalDateEnding,totalRevenue,Symbol,shortTermDebt,longTermDebt,totalShareholderEquity,commonStockSharesOutstanding,netIncome,operatingExpenses,reportedCurrency_y,...,"(operatingExpenses, costofGoodsAndServicesSold)",debt_to_equity,price,Dividend,pe_ratio,return_on_equity,quick ratio,eps,operating_ratio,inventory_turnover
0,2023-06-30,8325000000,MMM,3277000000,14203000000,7798000000,551992430,-6841000000,12325000000,USD,...,4606000000.0,2.2416,1,2,0.0,-0.877276,0.957754,-12.393286,2.033754,0.872348
1,2023-03-31,8031000000,MMM,3275000000,14848000000,15298000000,551672217,976000000,1827000000,USD,...,4613000000.0,1.184665,1,2,0.565238,0.063799,0.914835,1.769166,0.801893,0.869393
2,2022-12-31,8079000000,MMM,2199000000,15939000000,14722000000,549245105,541000000,3646000000,USD,...,4585000000.0,1.232034,1,2,1.01524,0.036748,0.978263,0.984988,1.018814,0.8535
3,2022-09-30,8619000000,MMM,2097000000,15705000000,14080000000,552742915,3859000000,-602000000,USD,...,4728000000.0,1.264347,1,2,0.143235,0.274077,0.972441,6.981546,0.47871,0.84203
4,2022-06-30,8702000000,MMM,2513000000,15921000000,13742000000,569603928,78000000,3152000000,USD,...,5093000000.0,1.341435,1,2,7.302615,0.005676,0.896221,0.136937,0.947483,0.902214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9956,2019-06-30,<NA>,MPWR,1097000,<NA>,704154000,43234000,<NA>,<NA>,USD,...,<NA>,<NA>,1,2,<NA>,<NA>,5.010372,<NA>,<NA>,<NA>
9957,2018-06-16,<NA>,PEP,9955000000,<NA>,10111000000,1417000000,<NA>,<NA>,USD,...,<NA>,<NA>,1,2,<NA>,<NA>,1.094511,<NA>,<NA>,<NA>
9958,2022-04-08,<NA>,VRSK,1332200000,2341300000,2658600000,161638620,<NA>,<NA>,USD,...,<NA>,1.381742,1,2,<NA>,<NA>,-0.673077,<NA>,<NA>,<NA>
9959,2019-12-31,<NA>,VTRS,0,11214300000,0,100,<NA>,<NA>,USD,...,<NA>,inf,1,2,<NA>,<NA>,0.733763,<NA>,<NA>,<NA>
9960,2018-09-30,<NA>,WAT,1148345000,1148061000,1876432000,75730000,<NA>,<NA>,USD,...,<NA>,1.223815,1,2,<NA>,<NA>,5.929495,<NA>,<NA>,<NA>

In [290]:
#macroeconomic indicators


#fiscal: GDP


#monetary: alphavantage fed funds rate (monthly)